.blackk {
  color: #272A31;
}

.orangee {
  color: #EC5242;
}

.greyy {
  color: #D3D3D3;
}

.whitee {
  color: white;
}

.bg-blackk {
  background-color: #272A31;
}

.bg-greyy {
  background-color: rgb(121, 116, 116, 0.5);
}

.headerr {
  padding: 10px;
  padding-bottom: 50px;
}

.icon-top {
  justify-content: flex-start;
  
}

.top-navb {
  display: flex;
  justify-content: stretch;
}

.link-top {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 10px; 
  top: 10px;
  align-items: center;
}

.fa {
  padding-top: 12px;
}

.top-navb a { 
  margin-right: 20px;
}


.navbar-toggler {
  outline: none;
  box-shadow: none;
  border: none;
}

main {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.bg-iconspage {
  background-image: url("");
}

.bg-header {
  background-image: url("img/pexels-karolina-grabowska-4210787.jpg");
} 

/* PROGRAM SECTION */
.main-pro {
  display: flex;
}

.bg-web {
  background-image: url("img/bg-web.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-right: auto;
}

.iconn {
  width: 15%;
  padding-top: 5px;;
  color: white;
  padding-bottom: 5px;
}

.iconn-img {
  width: 50px;
}

.iconn-tag {
  width: 25%;
  padding-left: 10px;
}

.iconn-text {
  width: 60%;
}

/* FEATURED SPEAKERS SECTION */
.speakers {
  margin-bottom: 40px;
  margin-top: 40px;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    padding-left: 10px;
  }

.card {
  border: none;
}

.imggg {
  width: 30%;
  max-height: 200px;
}

.imgg {
  padding-top: 20px;
  width: 100%;
  height: auto;
}

.btn-orangee {
  background-color: #ec5242; 
}

.btn {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.fs-14 {
  font-size: 14px;
}

.ta-center {
  text-align: center;
}

.btn-div {
  margin: auto;
  text-align: center;
}

/* FOOTER SECTION */

@media (max-width: 768px) {
    body {
      margin-bottom: 50px;
    }

    .footer {
      height: 550px;
    }
}
@media (min-width: 768px) {
  .footer {
    height: 550px;
  }
}

footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
  height: 550px;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: rgb(240, 238, 238);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
}