.blackk {
  color: #272A31;
}

.orangee {
  color: #EC5242;
}

.greyy {
  color: #D3D3D3;
}

.bg-blackk {
  background-color: #272A31;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

.imggg {
  width: 30%;
}

.imgg {
  padding-top: 20px;
  width: 100%;
  height: 75%;
}

.fs-14 {
  font-size: 14px;
}
