.blackk {
  color: #272A31;
}
  
.orangee {
  color: #EC5242;
}

.greyy {
  color: #D3D3D3;
}

.whitee {
  color: white;
}

.bg-blackk {
  background-color: #272A31;
}

.bg-greyy {
  background-color: rgb(121, 116, 116, 0.5);
}

@font-face {
  font-family: Cocogoose;
  src: url(Cocogoose\ Pro\ Semilight-trial.ttf);
}

.header {
  padding: 10px;
  font-family: Cocogoose;
}

.top-navb {
  display: flex;
  flex-direction:row;
  padding: 14px;
  justify-content: flex-end;
  align-items: baseline;
}

.top-navb a {
  margin-right: 20px;
}

.navbar-toggler {
  outline: none;
  box-shadow: none;
  border: none;
}

main {
  padding-left: 10px;
  padding-right: 10px;
}

.bg-iconspage {
  background-image: url("");
}

.ta-center {
  text-align: center;
}

.fs-14 {
  font-size: 14px;
}

/* FOOTER SECTION */

@media (max-width: 768px) {
  body {
    margin-bottom: 50px;
  }

  .footer {
    height: 550px;
  }
}
@media (min-width: 768px) {
.footer {
  height: 550px;
}
}
