.blackk {
  color: #272A31;
}
  
.orangee {
  color: #EC5242;
}

.greyy {
  color: #D3D3D3;
}

.whitee {
  color: white;
}

.bg-blackk {
  background-color: #272A31;
}

.bg-greyy {
  background-color: rgb(121, 116, 116, 0.5);
}

@font-face {
  font-family: cocogoose;
  src: url(Cocogoose\ Pro\ Semilight-trial.ttf);
}

.headerr {
  padding: 10px;
}

.navbar-toggler {
  outline: none;
  box-shadow: none;
  border: none;
}

main {
  padding-left: 10px;
  padding-right: 10px;
}

.bg-iconspage {
  background-image: url("");
}

.ta-center {
  text-align: center;
}
